.input-file {
	position: relative;
	display: inline-block;
	width: 100%;
	/* justify-content: space-between; */
}

.input-file-btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
	vertical-align: middle;

	position: sticky;
	left: 0;

	color: #eee;
	text-align: center;

	border-radius: 8px;
	background-color: #06d;
	line-height: 22px;
	width: 200px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}


.input-file-text {
	font-family: sans-serif;
    color: #eee;

    font-size: 16px;
    font-weight: 600;

	/* position: relative; */
	/* left: 50px; */
	/* justify-self: center; */
	

	padding: 0 10px;
	line-height: 40px;
	display: inline-block;
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.input-file input[type=file]:focus+.input-file-btn {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.input-file:hover .input-file-btn {
	background-color: #05d;
}

.input-file:active .input-file-btn {
    background-color: #04b;
}

.input-file input[type=file]:disabled+.input-file-btn {
	background-color: #eee;
}