<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} </title>
</head>
<body>
    <h1>Вход на сайт EchoEnsamble</h1>
    <!-- <div class="flash">
        <h2> {{ get_flashed_messages() }} </h2>
    </div> -->
    <form action="/login" method="post">
        <div>
            <label for="email">Ваш email:</label>
            <input type="text" id="email" name="email">
        </div>

        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password">
        </div>

        <input type="submit" value="Войти">
    </form>
</body>
</html>
