<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ style_css }} ">
    <!--  <link rel="stylesheet" href="..\static\css\style_register.css">-->
  <title> {{ title }} </title>
</head>

<body>
  <!-- <div class="background">
    <img src="../static/images/background-image.jpg" id="bg_img" />
  </div> -->

  <form class="form" action="/register" method="post">
    <div class="title">
      EchoEnsamble
    </div>

    <div class="subtitle">
      Давай создадим новый аккаунт!
    </div>

    <div class="input-container ic1">
        <input name="login" id="login" class="input" type="text" placeholder=" "/>
      <div class="cut"></div>
        <label for="login" class="placeholder">Логин</label>
    </div>

    <div class="input-container ic2">
        <input name="email" id="lastname" class="input" type="text" placeholder=" "/>
      <div class="cut"></div>
      <label for="lastname" class="placeholder">Email</label>
    </div>

    <div class="input-container ic3">
        <input name="password" id="password" class="input" type="password" placeholder=" "/>
      <div class="cut"></div>
      <label for="password" class="placeholder">Пароль</label>
    </div>

    <div class="input-container ic4">
        <input name="confirm_password" id="confirm_password" class="input" type="password" placeholder=" "/>
      <div class="cut"></div>
        <label for="confirm_password" class="placeholder">Подтвердите пароль</label>
    </div>

    <div class="checkbox">
        <input dirname="isCreator" type="checkbox" name="scales" id="scales">
      <label for="Scales">Я музыкант</label>
    </div>

    <a>
      <button type="submit" class="submit">Создать</button>
    </a>
  </form>
</body>

</html>